*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul, li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ""; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a img {
  border: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.alert {
  background: red;
  color: white; }

.offscreen {
  height: 1px;
  position: absolute;
  left: -9999px; }

.aligncenter {
  display: block;
  margin: 0 auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.wp-caption {
  border: 1px solid #666666;
  text-align: center;
  background: #cccccc;
  padding: 10px;
  margin: 10px; }

br.clear {
  clear: both;
  display: block;
  height: 1px;
  margin: -1px 0 0 0; }

body {
  background-color: white; }

#nav {
  clear: both;
  float: left;
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  width: 10em; }
  #nav li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    _height: 20px; }
  #nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.35em; }
  #nav a {
    display: block;
    width: 10em; }
  #nav li {
    float: left;
    width: 10em; }
    #nav li:hover ul {
      left: auto; }
      #nav li:hover ul ul {
        left: -999em; }
    #nav li li:hover ul {
      left: auto; }
      #nav li li:hover ul ul {
        left: -999em; }
    #nav li li:hover li:hover ul {
      left: auto; }
    #nav li ul {
      position: absolute;
      width: 10em;
      left: -999em; }
    #nav li ul, #nav li ul ul {
      margin: -1.45em 0 0 10.1em; }
  #nav li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid black; }

#serchbox {
  float: left; }
